body {
    padding: 2em;
    background-color: aqua;
}


h1 {
    color: #0B9BE3;//light blue
}

h2 {
    color: #009606;//Green
}

hr {
    border: 1px solid #9F7217;
    width: 80%;
    margin: 30px auto;
}

img {
    border-radius: 20px;
}

pre {
    border: 1px solid #009606;//Green
    box-shadow: 2px 2px 5px grey;
    padding: 1em;
    margin: 2em;
}

.card {
    margin: 20px;
    border: 1px solid #0B9BE3;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #0B9BE3;
}
